<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>Administrador</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
    {% block additional_styles %}
    {% endblock additional_styles %}
</head>



<body> 
    <nav>
        <ul>
            <li><a href="#" class="logo">
                    <img class="logo1" src="{% static 'img/Imagen1.png' %}" alt="">
                    <span class="nav-item">Educacion Dual</span>
            </a></li>
            <li><a href="{% url "principalAdmin" %}" class="Principal">
                <i class="fas fa-home"></i>
                <span class="nav-item">Principal</span>
            <li><a href="{% url "admin_profile" %}" class="Perfil">
                <i class="fas fa-user"></i>
                <span class="nav-item">Perfil</span>
            </a></li>
            <li><a href="{% url "lista_Alumnos" %}" class="Alumnos">
                <i class="fas fa-users"></i>
                <span class="nav-item">Alumnos</span>
            </a></li>
            <li><a href="{% url "todas_las_postulaciones" %}" class="Postulados">
                <i class="fas fa-address-card"></i>
                <span class="nav-item">Postulados</span>
            </a></li>
            <li><a href="{% url "lista_empresas" %}" class="Empresas">
                <i class="fas fa-city"></i>
                <span class="nav-item">Empresas</span>
            </a></li>
            <li><a href="{% url "lista_documentos" %}" class="Documentos">
                <i class="fas fa-book"></i>
                <span class="nav-item">Normatividad</span>
            </a></li>
            <li><a href="{% url "convocatoria_list" %}" class="Convocatorias">
                <i class="fas fa-bullhorn"></i>
                <span class="nav-item">Convocatorias</span>
            </a></li>
            <li><a href="{% url "galeria_Admin" %}" class="Galeria">
                <i class="fas fa-images"></i>
                <span class="nav-item">Galeria</span>
            </a></li>
            
            
            <li><a href="{% url "estadisticasg" %}" class="Estadisticas">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Estadísticas</span>
            </a></li>

            <li><a href="{% url "index_list" %}" class="Estadisticas">
                <i class="fas fa-newspaper"></i>
                <span class="nav-item">Index</span>
            </a></li>
            <li><a href="{% url 'logout' %}" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Salir</span>
            </a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>

    <!-- EasyMDE JS -->
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<!-- marked.js -->
<script src="https://cdn.jsdelivr.net/npm/marked@12.0.1/marked.min.js"></script>

    
    {% block additional_scripts %}{% endblock additional_scripts %}
</body>

</html>