{% extends "EducacionDual/index.html" %}
{% load static %}
{% block additional_styles %}
{% endblock additional_styles %}
{% block content %}
<div class="contenedor">
    <div class="parrafo">
        <h1>¿Qué es la educación dual?</h1>
    <br>
    <p>
        La educación dual en el Tecnológico Nacional de México (TecNM) 
        es un modelo que integra la enseñanza académica con la formación práctica en empresas, 
        permitiendo a los estudiantes aplicar los conocimientos adquiridos en el aula directamente 
        en el entorno laboral. Este enfoque formativo responde a las necesidades actuales de la 
        industria y fortalece el perfil profesional de los estudiantes, preparándolos para enfrentar 
        los retos del mundo real.

    </p>
    </div>
    <div class="imagen">
        <img src="{% static 'img/logoanimado2.gif' %}">
    </div>
</div>
{% endblock content %}